/node_modules
/vendor
.env
.phpunit.result.cache
/storage/*.key
/public/storage
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/app/public
.DS_Store
*.zip
*.rar